<div class="container">
  <div class="row">
    <div class="col-md-12 tool">
      <h2>登録されたアプリの一覧</h2>
    </div>
  </div>
  <div class="row">
    <% @tools.each do |tool| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <a href="/tools/<%= tool.id %>"><h2 style="text-align: center"><%= tool.name %></h2></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
