$("#sort-menu").text("スクリーンショット投稿数").append("<span></span>");
$("#sort-menu span").addClass("caret");
$("#user_list").html("<%= j(render partial: "photos_ranking/user_list_photo_ranking", locals: { users: @users }) %>");
$(".sort-dropdown-menu").hide();
$(".list-group-item" + ".active").removeClass("active");
