$("#sort-menu").text("ユーザー登録 (新しい順)").append("<span></span>");
$("#sort-menu span").addClass("caret");
$("#user_list").html("<%= j(render partial: "users_created_at_descend/user_list_created_at_descend", locals: { users: @users }) %>");
$(".sort-dropdown-menu").hide();
$(".list-group-item" + ".active").removeClass("active");
