<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= comment.user.nickname %>さんのコメント</h4>
    <% if comment.user.id == current_user.id %>
    <%= link_to '削除', "/reviews/#{comment.review.id}/comments/#{comment.id}", method: :delete, remote: true %>
    <% end %>
  </div>
  <div class="panel-body">
    <p><%= comment.comment %></p>
  </div>
</div>
