<!-- 1つのモーダルに複数の画像が入るパターン -->

<div class="container">
  <div class="row">
    <!-- 画面左側 -->
    <!-- ユーザー一覧の表示 -->
    <div class="col-md-3">
      <p class="lead">User一覧：<%= @users.count %>名</p>
      <%= link_to '登録順', root_path, :remote => true %>
      <div id="user_list">
        <%= render partial: "users/user_list", locals: { users: @users } %>
      </div>
    </div>
    <!-- 画面右側 -->
    <div id="user_data">
      <%= render partial: "users/user_data", locals: { user: @user, photos: @photos, introduce: @introduce, reviews: @reviews } %>
    </div>
  </div>
</div>
