<div class="col-md-4">
  <div class="photo">
    <h3>登録日:<%= l photo.created_at, format: :short %></h3>
  </div>
  <div>
    <img src="<%= photo.image %>" style="width: 100%;">
  </div>
  <div>
    <%= link_to '削除する', "/users/#{current_user.id}/photos/#{photo.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-primary btn-lg active' %>
  </div>
</div>
