<div class="container">
  <div class="col-md-12">
    <div class="display-container">
      <div class="form-box">
        <h2>スクリーンショットを投稿</h2>
        <span>※一度に<strong>5枚</strong>まで投稿できます</span>
        <%= form_for([@user, @photo], :html => {:multipart => true}) do |f| %>
        <input type="file" name="photo[image][0]">
        <input type="file" name="photo[image][1]">
        <input type="file" name="photo[image][2]">
        <input type="file" name="photo[image][3]">
        <input type="file" name="photo[image][4]">
        <%= f.submit '投稿する', class: 'btn btn-info btn-lg btn-block active' %>
        <% end %>
        <%= link_to '戻る', user_photos_path(@user), class: 'btn btn-info btn-lg btn-block active' %>
      </div>
    </div>
  </div>
</div>
