 <div class="container">
  <div class="col-md-12">
    <div class="display-container">
      <div class="form-box">
      <%= form_for([@user, @photo], :html => {:multipart => true}) do |f| %>
        <input type="file" name="photo[image][0]">
        <input type="file" name="photo[image][1]">
        <input type="file" name="photo[image][2]">
        <input type="file" name="photo[image][3]">
        <input type="file" name="photo[image][4]">
        <%= f.submit '投稿する' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
