// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reviews/showでのcommentの総数の表示
#comments-number {
  margin-bottom: 10px;
  color: white;
 }

.comment-panel-title {
  // コメントしたuserのavatar
  img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: -2px;
  }
  time {
    color: #848484;
    margin-left: 5px;
  }
}

// reviews/showの「コメントを入力してください」
.review-comment {
  margin-bottom: 100px;
  p {
    color: white;
  }
}

// reviews/showのcommentのテキストエリア
#comment_field {
  width: 100%;
  height: 100px;
}

.comments-index-container {
  h2 {
    margin-bottom: 30px;
    color: white;
    text-align: center;
  }
}

.comments-index-card {
  margin-bottom: 30px;
  background-color: white;
}

.comments-index-card-title {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 24px;
  text-align: center;
  border: 0.5px solid #BDBDBD;
  background-color: #f5f5f5;
  // avatarの設定
  img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: -5px;
  }
}

.comments-index-card-content {
  padding: 15px 15px 10px 15px;
  .short-review {
    margin-bottom: 15px;
  }
}

.comments-index-card-comment-number {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 35px;
}
