body {
  // navbarの分の余白を取る
  padding-top: 50px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// 各コントローラーやアクションの背景の画像
.users, .profiles, .photos, .tools, .reviews, .comments.index, .registrations.edit, .registrations.update {
  height: 100%;
  background: image-url("main-background-image.jpg");
  background-size: cover;
}

.display-container {
  width: 550px;
  margin: 30px auto;
  padding: 20px 40px 40px;
  border: 5px solid #ccc;
  text-align: center;
  background: #fff;
  li {
    list-style: none;
    text-align: left;
  }
}

// user一覧で使用
// profiles/showで使用
.list-group-item {
  text-align: center;
}

.form-box input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background: #fafafa;
  transition: 0.2s ease-in-out;
}

.form-box input:focus {
  outline: 0;
  background: #eee;
}

// form内にある送信ボタン
.form-box input.btn {
  margin-top: 10px;
  padding: 10px 20px;
}

// form内にあるリンクボタン
.form-box a.btn {
    height: 40px;
    margin-top: 10px;
    padding: 10px 20px;
}

footer {
  color: white;
  text-align: center;
}
