// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users/_user_dataのreviewで表示されるlikeボタン
.user-data-review-like-button {
  float: left;
  margin-right: 10px;
}

.tools-show-review-like-button {
  float: left;
  margin-right: 10px;
}
