// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users/_user_dataのreviewで表示されるlikeボタン
.user-data-like-button {
  float: left;
  margin-right: 10px;
}

.tools-show-like-button {
  float: left;
  margin-right: 10px;
}

.reviews-index-like-button {
  float: left;
  margin-right: 10px;
}

.reviews-show-like-button {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.cooments-index-like-button {
  float: left;
  margin-right: 10px;
}

.likes-index-like-button {
  float: left;
  margin-right: 10px;
}

.likes-index-container {
  h2 {
    margin-bottom: 30px;
    color: white;
    text-align: center;
  }
}

.likes-index-card {
  margin-bottom: 30px;
  background-color: white;
}

.likes-index-card-title {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 24px;
  text-align: center;
  border: 0.5px solid #BDBDBD;
  background-color: #f5f5f5;
  // avatarの設定
  img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: -5px;
  }
}

.likes-index-card-content {
  padding: 15px 15px 10px 15px;
  .short-review {
    margin-bottom: 15px;
  }
}

.likes-index-card-comment-number {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 35px;
}
