.form-box input{
    width: 100%;
    padding: 10px ;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="email"]{
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-top: 0;
}

.login-password {
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.form-box a.login{
    margin-top:10px;
    padding: 10px 20px;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.form-box input.btn {
    margin-top:10px;
    padding: 10px 20px;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.form-box a.btn {
    height: 40px;
    margin-top:10px;
    padding: 10px 20px;
    background-color: #5bc0de;
    border-color: #46b8da;
}
