.sessions, .registrations {
    background: image-url("back_image.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

.users, .profiles, .photos, .tools, .reviews {
    background: image-url("index_back.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

.display-container {
    position: relative;
    margin-top: 60px !important;
    width: 550px;
    margin: 100px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 5px solid #ccc;
    li {
      text-align: left;
      list-style: none;
    }
}

.list-group-item {
  text-align: center;
}

.img-responsive {
  margin: 0 0 10px 0;
}

.avatar{
  width: 100px;
  height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
  p {
    font-size: 20px;
    margin: 40px auto 35px;
  }
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.form-box input:focus {
    outline: 0;
    background: #eee;
}

.form-box input.btn {
    margin-top:10px;
    padding: 10px 20px;
}

.form-box a.btn {
    height: 40px;
    margin-top:10px;
    padding: 10px 20px;
}

.display-container a.btn {
    height: 40px;
    margin-top:10px;
    padding: 10px 20px;
}

// photo, review, tool, 一覧ページ
.photo, .review, .tool {
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
}

.review a {
  margin-bottom: 10px;
}

// profile編集ページのテキストボックス
#profile_introduce {
  width: 100%;
}

// toolとreview投稿ページのテキストボックス
#tool_review_review {
  width: 100%;
}

// review編集ページのテキストボックス
#review_review {
  width: 100%;
}
