body {
  // navbarの分の余白を取る
  padding-top: 50px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// 各コントローラーの背景の画像
.users, .profiles, .photos, .tools, .reviews {
    background: image-url("index_back.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

// sessions/newの背景の画像
// resistrations/newの背景の画像
.sessions, .registrations {
    background: image-url("back_image.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

.display-container {
    position: relative;
    margin-top: 30px !important;
    width: 550px;
    margin: 100px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 5px solid #ccc;
    li {
      text-align: left;
      list-style: none;
    }
    // sessions/newの画像
    // registrations/newの画像
    a img {
      cursor: pointer;
    }
}

// user一覧で使用
// profiles/showで使用
.list-group-item {
  text-align: center;
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.form-box input:focus {
    outline: 0;
    background: #eee;
}

// form内にある送信ボタン
.form-box input.btn {
    margin-top:10px;
    padding: 10px 20px;
}

// form内にあるリンクボタン
.form-box a.btn {
    height: 40px;
    margin-top:10px;
    padding: 10px 20px;
}

// footerに表示しているcopyright
footer p {
  color: white;
  text-align: center;
}
