// navbarのサイト名
.navbar-header a.navbar-brand {
  font-size: 40px;
  color: white;
}

// navbarのメニューのキャレット
.dropdown .caret {
  margin-left: 5px !important;
  width: 7px;
  height: 9px;
}

// navbarのメニュー
ul li .nav-menu {
  font-size: 15px;
  color: white !important;
  background-color: #008080;
  border: 1px solid #008080;
}

// navbarのログアウトボタン
ul li .nav-logout {
  font-size: 15px;
  color: white !important;
  background-color: #800000;
  border: 1px solid #800000;
}
