// navbarのロゴ
.navbar-logo {
  width: 80px;
  height: 100%;
}

// navbarのメニューのキャレット
.dropdown .caret {
  height: 9px;
  margin-left: 5px !important;
}

// navbarのメニューボタン
ul li .nav-menu {
  border: 1px solid #008080;
  font-size: 15px;
  color: white !important;
  background-color: #008080;
}

// user自身のmenuのdropdownボタンを押した時に表示されるメニュー
.user-dropdown-menu {
  width: 100%;
  li {
  font-size: 15px;
  text-align: center;
  }
}

// グリフィコンとメニューのタイトルの距離を取るために設定
.glyphicon-user-menu {
  margin-right: 5px;
}
