// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos-index-container {
  h2 {
    color: white;
  }
  .modal-title {
    color: black;
  }
}

// 「登録日」の表示部分
.photos-index-created-at {
  float: left;
  margin-top: 15px;
  font-size: 24px;
  color: white;
}

.photos-index-delete-btn {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

.user-photo {
  margin-top: 10px;
  // photos/indexのスクリーンショットにマウスが当たった時
  cursor: pointer;
  img {
    display: block;
    max-width: 100%;
    height: 225px;
    margin: 0 auto;
  }
}

.photos-index-modal {
  margin: 0 auto;
}

// photos/newの「ファイルを選択」ボタン
.input-group-btn button {
  height: 35px;
  margin-top: 5px;
}
