// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// profiles/showで表示されるavatar
// profiles/editで表示されるavatar
.avatar img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.profiles-edit-introduce {
  text-align: left;
}

// profiles/showのボタン
.profiles-show-container a.btn {
    height: 40px;
    margin-top:10px;
    padding: 10px 20px;
}

// profiles/editのintroduceのテキストエリア
// form_forにより生成されるid
#profile_introduce {
  width: 100%;
}
