// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// profiles/showで表示されるavatar
// profiles/editで表示されるavatar
.avatar img {
  width: 100px;
  height: 100px;
}

// profiles/editのintroduceのテキストエリア
#profile_introduce {
  width: 100%;
}
