// _user_dataで「詳細を見る」ボタンなどと横並びにするために使用
.user-data-rating-star-container {
  float: left;
  margin-top: 7px;
  margin-left: -3px;
}

.reviews-index-rating-star-container {
  float: left;
  margin-top: 7px;
  margin-left: -3px;
}

.rating-star {
  position: absolute;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1;
  width: auto;
  font-family: "Glyphicons Halflings";
  margin: 0;
  background-color: #333333;
  border-radius: 10px;
  padding: 4px 8px;
}

.rating-star:before {
  display: block;
  content: "\e006\e006\e006\e006\e006";
  color: #888888;
}

.rating-star-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #eeee00;
  overflow: hidden;
  padding: 4px 8px;
  z-index: 2;
}
