// resigtrations/newでスマホサイズの場合、ナビゲーションバーのハンバーガーを消す
@media all and (max-width: 640px) {
  .registrations.new .navbar-toggle {
    display: none;
  }
}

// registrations/newのページ上部の画像
.jumbotron-registrations-new-main {
  height: auto;
  margin-bottom: 0 !important;
  background: image-url("registrations-new-jumbotron-with-filter.jpg");
  background-size: cover;
}

.jumbotron-registrations-new-main-explain {
  margin: 250px auto 100px;
  color: white;
  text-align: center;
}

@media all and (max-width: 640px) {
  .jumbotron-registrations-new-main-explain {
    margin: 50px auto 50px;
    p {
      font-size: 15px !important;
    }
  }
}

// 以下はregistrations/newのフォーム
.registrations-new-form {
  margin-top: 45px;
  margin-bottom: 120px;
  h3 {
    color: white;
    text-align: center;
  }
  label {
    display: block;
    color: white;
    text-align: center;
  }
  span {
    display: block;
    color: white;
    text-align: center;
  }
  #user_username, #user_email, #user_password, #user_password_confirmation {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  input[type="submit"] {
    display: block;
    width: 70%;
    margin: 10px auto;
    line-height: 1;
  }
  a {
    display: block;
    width: 70%;
    margin: 0 auto;
    line-height: 1;
  }
}

@media all and (max-width: 640px) {
  .registrations-new-form {
    margin-bottom: 50px;
  }
}

.registrations-new-heading-1 {
  text-align: center;
  background-color: rgb(55,58,60);
  h1 {
    margin: 30px auto;
    color: white;
  }
}

.registrations-new-explain-1 {
  padding-bottom: 20px;
  color: white;
  background-color: rgb(55,58,60);
  img {
    cursor: pointer;
  }
}

.registrations-new-sentences-1 {
  margin: 100px auto;
  font-size: 20px;
  text-align: center;
}

@media all and (max-width: 640px) {
  .registrations-new-sentences-1 {
    margin: 50px auto;
  }
}

.main-display-sample {
  margin: 25px auto;
}

.registrations-new-heading-2 {
  text-align: center;
  background-color: rgb(26,57,89);
  h1 {
    margin: 30px auto;
    color: white;
  }
}

.registrations-new-explain-2 {
  padding-bottom: 20px;
  background-color: rgb(26,57,89);
  p {
    color: white;
    text-align: left;
  }
  h3 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  img {
    width: 360px;
    height: 225px;
    margin: 0 auto;
    cursor: pointer;
  }
}

@media all and (max-width: 640px) {
  .reviews-explain {
    margin-top: 50px;
  }
  .review-comments-explain {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.registrations-new-heading-3 {
  text-align: center;
  background-color: #31708f;
  h1 {
    margin: 30px auto;
    color: white;
  }
}

// registrations/newのsnsのリンクのセクション
.registrations-new-sns-links {
  padding-bottom: 20px;
  background-color: #31708f;
}

// registrations/newのsnsのアイコンを中央揃えにする
.registrations-new-sns-link {
  text-align: center;
}

// registrations/newのsnsのアイコンの大きさ
.fa-large {
  font-size: 150px !important;
}

@media all and (max-width: 640px) {
  .fa-large {
    font-size: 100px !important;
  }
}

// registrations/newのsnsのアイコンの色
.fa-white {
  color: white;
}

// registraiotns/newのモーダルで表示される画像
.registrations-new-modal-img {
  height: 540px !important;
}

// registraiotns/newのモーダルで表示される画像に対する見出し
.registrations-new-modal-slide-heading h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}

// registrations/newのfooter
.registrations.new footer {
  padding-top: 30px;
  background-color: #31708f;
}

// registrations/editのタイトル
.registrations-edit-title h1 {
  margin-bottom: 20px;
}
