// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reviewの表示を1行だけにする
.short_review p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// reviews/editのテキストエリア
#review_review {
  width: 100%;
}
