// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reviewの表示を1行だけにする, メソッド的に使用
.short-review {
  // 言語に関係なく表示範囲に合わせて改行
  word-break: break-all;
  // はみ出た部分を表示させない
  overflow: hidden;
  // ...の省略記号を表示
  text-overflow: ellipsis;
  // ソース中の連続する半角スペース・タブ・改行を、1つの半角スペースとして表示
  white-space: nowrap;
}

.reviews-index-container {
  h2 {
    color: white;
  }
}

// reviews/editのテキストエリア
// form_forにより生成されるid
#review_review {
  width: 100%;
}

.reviews-show-link-buttons {
  margin: 10px auto 10px;
}

// 以下からはrevews/showのレビューのカード
.reviews-show-card {
  margin-bottom: 5px;
  padding-bottom: 10px;
  background-color: white;
}

.reviews-show-card-title {
  border: 0.5px solid #BDBDBD;
  background-color: #f5f5f5;
  h3 {
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

.reviews-show-card-content p {
  margin: 10px 0 10px 10px;
}

.reviews-show-card-content #review-detail-like-button {
  margin-left: 10px;
}
