// sessions/newの背景の画像
.sessions {
  height: 100%;
  background: image-url("login-back-with-filter.jpg");
  background-size: cover;
}

.sessions-new-display-container {
  margin-top: 130px;
  a img {
    cursor: pointer;
  }
  #user_login, #user_password {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  input[type="submit"], a {
    display: block;
    width: 70%;
    margin: 10px auto;
    line-height: 1;
  }
}

// sessions/newのタイトル
.sessions-new-title {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

// sessions/newのformボックス
.sessions-new-form {
  margin-top: 20px;
}

.share-buttons-container {
  margin-top: 50px;
}

// Twitterのシェアボタン
// 自分で作ったclass
.twitter-share-btn {
  text-align: left;
}

// facebookのシェアボタン
// 自分で作ったclass
.fb-share-btn {
  text-align: left;
}

// facebookのいいねボタン
// 自分で作ったclass
.fb-like-btn {
  text-align: left;
}
