// Place all the styles related to the Tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tools/indexの見出し
.tools-heading {
  color: white;
  text-align: center;
}

.tools-index-operate-section {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
}

// tools/indexの検索フォーム
.tools-index-search-form {
  float: left;
  input:focus {
    outline: 0;
    background: #eee;
  }
}

// tools/indexの検索フォーム自体
// form_forにより生成されるid
.tools.index #tool_name {
  width: 350px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
}

#tools-reviews-number-ranking-btn {
  float: left;
  margin-right: 20px;
}

#tools-all-btn {
  display: none;
  float: left;
  margin-right: 20px;
}

.tools-index-tools-new-btn {
  float: left;
}

// tools/indexのアプリ名
.tool-panel h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

// tools/newのレビューのテキストエリア
// form_forにより生成されるid
#tool_review_review {
  width: 100%;
}

.tools-show-container {
  h2 {
    color: white;
  }
}

.tools-show-operate-section {
  margin-top: 20px;
  margin-bottom: 30px;
  a:first-child {
    margin-right: 20px;
  }
}

.tools-show-card {
  margin-bottom: 30px;
  background-color: white;
}

.tools-show-card-title {
  padding: 10px 0 10px 10px;
  border: 0.5px solid #BDBDBD;
  font-size: 24px;
  background-color: #f5f5f5;
  // avatarの画像の大きさ
  img {
    width: 30px;
    height: 30px;
    margin-top: -7px;
    margin-right: -5px;
  }
}

.tools-show-card-content {
  padding: 15px 15px 10px 15px;
}

.tools-show-review {
  margin-top: 10px;
  margin-bottom: 20px;
}

.tools-show-card-reviews-show-link {
  float: left;
  margin-right: 10px;
}

.tools-show-card-comment-number {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 35px;
}
