// Place all the styles related to the Tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tools/indexの見出し
.tools-heading {
  color: white;
  text-align: center;
}

// toolの一覧の名前
.tool-panel h2 {
  text-align: center;
}

// tools/newのレビューのテキストエリア
// form_forにより生成されるid
#tool_review_review {
  width: 100%;
}

.tools-show-container {
  h2 {
    color: white;
  }
}
