// Place all the styles related to the Tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tools/indexの見出し
.tools-heading {
  color: white;
  text-align: center;
}

.tools-index-operate-section {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
}

// tools/indexの検索フォーム
.tools-index-search-form {
  display: inline-block;
  input:focus {
    outline: 0;
    background: #eee;
  }
}

// tools/indexの検索フォーム自体
#tool_name {
  width: 350px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
}

// tools/indexのアプリ名
.tool-panel h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

// tools/newのレビューのテキストエリア
// form_forにより生成されるid
#tool_review_review {
  width: 100%;
}

.tools-show-container {
  h2 {
    color: white;
  }
}

