// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user一覧のタイトル
.users-list-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;
}

// user一覧とsortメニューと間隔を空ける
#user_list {
  margin-top: 20px;
}

// user一覧のスクロールバー
.users-scroll-bar {
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 700px;
}

// user一覧に表示されるavatar
.users-list img {
  width: 30px;
  height: 30px;
}

// users/_user_dataで表示されるuserのprofile
.user-profile-list {
  margin-top: 20px;
  p {
    float: left;
    margin-right: 20px;
    font-size: 15px;
    color: white;
  }
}

// users/_user_dataで表示されるphoto
.users-data-photo {
  height: 535px !important;
  margin: 0 auto;
}

// users/_user_dataのモーダルで表示されるphoto
.users-data-photo-modal {
  height: 535px !important;
  margin: 0 auto;
}

// users/_user_dataのphotoにマウスが当たった時
.carousel-inner div a img {
  cursor: pointer;
}

// 以下は_user_dataで表示されるtoolのreview
.user-data-card {
  margin-bottom: 15px;
  background-color: white;
}

.user-data-card-title {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.user-data-card-content {
  padding: 15px 15px 0 15px;
}

.user-data-card-short-review {
  margin-bottom: 20px;
}

.user-data-card-review-link {
  float: left;
  margin-right: 10px;
}

// users/_user_dataのreviewで表示される「comment」の表示と「commentの総数」
.user-data-card-review-comment-number {
  float: left;
  margin-right: 10px;
  font-size: 15px;
  line-height: 35px;
}
