// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user一覧のタイトル
.users-list-title {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

// user一覧とsortメニューと間隔を空ける
#user_list {
  margin-top: 20px;
}

// user一覧のスクロールバー
.users-scroll-bar {
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 700px;
}

// user一覧に表示されるavatar
.users-list img {
  width: 30px;
  height: 30px;
}

// users/_user_dataで表示されるuserのprofile
.user-profile-list {
  margin-top: 20px;
  p {
    color: white;
    font-size: 15px;
    margin-right: 20px;
    float: left;
  }
}

// users/_user_dataで表示されるphoto
.users-data-photo {
  height: 535px !important;
  margin: 0 auto;
}

// users/_user_dataのモーダルで表示されるphoto
.users-data-photo-modal {
  height: 535px !important;
  margin: 0 auto;
}

// users/_user_dataのphotoにマウスが当たった時
.carousel-inner div a img {
  cursor: pointer;
}

