// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// profileが未登録の場合にusers/indexもしくはusers/showに表示されるパネル
.uncreated-profile-panel {
  margin-top: 50px;
  p {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
  }
}

// profileが未登録の場合にusers/indexもしくはusers/showに表示されるボタンを中央に寄せるためにdivで括っている
.uncreated-profile-btn-container {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center !important;
}

// profileが未登録の場合にusers/indexもしくはusers/showに表示されるボタン
.uncreated-profile-btn {
  width: 40%;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

// user一覧のタイトル
.users-list-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;
}

// user一覧とsortメニューと間隔を空ける
#user_list {
  margin-top: 20px;
}

// user一覧のスクロールバー
.users-scroll-bar {
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 700px;
}

// user一覧に表示されるavatar
.users-list img {
  width: 30px;
  height: 30px;
}

// users/_user_dataで表示されるuserのprofile
.user-profile-list {
  margin-top: 20px;
  p {
    float: left;
    margin-right: 20px;
    font-size: 15px;
    color: white;
  }
}

.user-data-photo-container {
  margin-bottom: 25px;
}

// users/_user_dataで表示されるphoto
.users-data-photo {
  height: 535px !important;
  margin: 0 auto;
  @media all and (max-width: 1200px) {
    & {
      height: 440px !important;
    }
  }
  @media all and (max-width: 648px) {
    & {
      height: 250px !important;
    }
  }
}

// users/_user_dataのモーダルで表示されるphoto
.users-data-photo-modal {
  height: 535px !important;
  margin: 0 auto;
}

// users/_user_dataのphotoにマウスが当たった時
.carousel-inner div a img {
  cursor: pointer;
}

// 以下は_user_dataで表示されるtoolのreview
.user-data-card {
  margin-bottom: 15px;
  background-color: white;
}

.user-data-card-title {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 0.5px solid #BDBDBD;
  background-color: #f5f5f5;
}

.user-data-card-content {
  padding: 15px 15px 0 15px;
}

.user-data-card-short-review {
  margin-bottom: 20px;
}

.user-data-card-review-link {
  float: left;
  margin-right: 10px;
}

// users/_user_dataのreviewで表示される「comment」の表示と「commentの総数」
.user-data-card-review-comment-number {
  float: left;
  margin-right: 10px;
  font-size: 15px;
  line-height: 35px;
}
