.thumbnail{ padding: 0;}

body {
  padding-top: 70px; /* body padding for fixed top nav */
}

.carousel-control, .item{
    border-radius: 4px;
}

a.navbar-brand {
  font-size: 40px;
  color: white !important;
}
