.thumbnail{ padding: 0;}

body {
  padding-top: 70px; /* body padding for fixed top nav */
}

.carousel-control, .item{
    border-radius: 4px;
}

a.navbar-brand {
  font-size: 40px;
  color: white !important;
}

p.lead {
  text-align: center;
  color: white;
  font-size: 40px;
}

.list-group-item {
  text-align: center;
}

.nav-nickname {
  font-size: 20px;
  color: #DA81F5;
  margin: 10px auto 0;
}

.nav-profile-post {
  font-size: 20px;
  color: #DA81F5;
  margin: 10px auto 0;
}
